<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>lpf-个人社区首页</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./css/base.css" rel="stylesheet">
  <link href="./css/m.css" rel="stylesheet">
  <script src="./js/jquery-3.6.0.min.js"></script>
  <script src="./js/comm.js"></script>

</head>
<body>
<div th:insert="~{header :: header}"></div>
<div class="ph_margin"></div>
<div class="box">
  <div class="resume">
    <div class="resume_left">
      <section> <i><img src="img/Touxiang.jpg" alt="头像"></i>
        <h2>李鹏飞</h2>
        <p>安全工程师</p>
        <span>抗压能力强</span><span>学习力强</span><span>积极认真</span><span>责任心强</span> </section>
      <ul class="resume_con">
        <li class="re_xl">大学本科</li>
        <li class="re_rq">2000年5月23日</li>
        <li class="re_tell">19862125285</li>
        <li class="re_email">2568034812@qq.com</li>
        <li class="re_add">济南市历下区</li>
      </ul>
      <h3>技能特长</h3>
      <ul class="resume_tec">
        <li class="tec80">java<span></span></li>
        <li class="tec60">web渗透<span></span></li>
      </ul>
    </div>
    <div class="resume_right">
      <h2>教育背景</h2>
      <p><span style="color:#808080;">齐鲁工业大学 / 2018.9&mdash;2021.6</span></p>
      <p>软件工程、算法设计与分析、软件管理、概率论与数理统计、线性代数、物理实验、编译原理等</p>
      <p>精通Java，强烈的上进心和求知欲，较强的学习能力和沟通能力，具备良好的团队合作精神，有独立编写项目经验</p>
      <h2>项目经历</h2>
      <p><strong>信息安全--安全技术研究与实践</strong></p>
      <p>参加学校社团组织的网络攻防比赛，此次比赛主要分为web攻防、杂项、加解密、逆向、二进制溢出等方面，在团队中我担任web渗透工作，任务目标为自主搭建的某个新闻发布系统，并撰写渗透思路。过程中使用的工具涵盖Nmap、AWVS、SQLmap、Burpsuite，用Nmap扫描开放的端口，并推测有什么服务运行、和哪个操作系统。用AWVS对目标网站进行漏洞探测，了解可能发生的位置，进行手动验证，基本确定漏洞的存在。使用burpsuit对后台登录的暴力破解，使用sqlmap对网站查询请求进行sql注入，以及对文章发布，评论界面的xss攻击。编写渗透测试报告。增加了web渗透的经验，并获取了老师的良好评价。</p>
      <p><strong>研发--开发个人社区（springboot+mybatis+thymeleaf）</strong></p>
      <p><span style="color:#808080;">2021.1&mdash;至今</span></p>
      <p>社区有以下几个功能：文章发布，文章评论，评论信息提示，文章搜索，根据文章的标签进行相关文章推送。前端使用thymeleaf对服务器返回的数据进行解析，并将数据渲染到页面上。使用bootstrap生成页面代码，简化html页面的开发。使用css样式对界面进行调整。项目使用MySQL数据库，对表多个字段建立索引，并使用mybatis-plus来代替mybatis进行数据库表的操作。使用redis做缓存，减少了网站响应时间。社区的登录实现了短信、邮箱的验证，对于发布文章和回复进行了session和cookie的校验，并设置拦截器对于未登录的用户的某些操作进行限制。搜索采用模糊查询。有访问人数、点赞、评论数展示等基本功能。通过网站的开发更加深刻体会到web安全的重要性。</p>
      <h2>IT技能</h2>
      <p><span style="color:#808080;">web开发</span></p>
      <ul>
        <li>具备扎实的java基础和面向对象思想，对java8的新特性有一定了解</li>
        <li>熟悉常用java的集合类的使用，并对其实现原理有一定了解</li>
        <li>熟悉使用mysql，对mysql的调优和引擎有一定的了解</li>
        <li>了解redis的数据结构及用途，了解redis的持久化策略</li>
        <li>对spring、springmvc、mybatis、mybatis-plus、springboot等开源框架有一定了解</li>
        <li>熟悉idea开发工具的使用，使用maven依赖管理，使用git进行版本控制</li>
        <li>了解常用的数据结构和算法</li>
      </ul>
      <p><span style="color:#808080;">web安全</span></p>
      <ul>
        <li>能够使用AWVS、Nessus进行系统漏洞扫描与分析，发现网站的漏洞</li>
        <li>了解sql注入、xss跨站脚本、文件上传、文件包含等漏洞原理</li>
        <li>能够使用sqlmap，nmap，wireshark，burpsuite等工具，对网站进行渗透</li>
      </ul>
      <p><span style="color:#808080;">操作系统</span></p>
      <ul>
        <li>具备Linux、Windows系统知识经验，熟悉Linux系统的命令，能够在Linux系统上搭建项目</li>
        <li>可以使用docker搭建网站环境、进行项目部署</li>
      </ul>
      <p><span style="color:#808080;">计算机网络</span></p>
      <ul>
        <li>了解计算机网络七层模型，了解TCP/IP等基本网络协议</li>
        <li>使用wireshark抓包了解数据包的信息</li>
        <li>了解子网掩码及网络的划分</li>
      </ul>
      <h2>自我评价</h2>
      <p>本人态度积极认真，责任心强，具有很强的学习能力和适应性。在日常生活中，吃苦耐劳，热爱集体，积极参加各类公共活动，有良好的人际关系。在学习中，勤奋严谨，接受新知识能力强，有很强的自学能力。在工作中，为人诚恳，做事细心，认真负责，能够高效率的完成工作，易于沟通，具有良好的团队意识，热爱自己从事的工作，敢挑重担。</p>
    </div>
  </div>
</div>
<div th:insert="~{footer :: footer}"></div>
<a href="#" title="返回顶部" class="icon-top"></a>
</body>
</html>

