<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>《初见》响应式个人博客模板</title>
<meta name="keywords" content="个人博客，个人网站，个人博客模板，个人网站模板" />
<meta name="description" content="《初见》响应式个人博客模板是由前端设计师杨青青（www.qingqingblog.com）于2021年5月份设计完成的，模板主要展示个人博客、相册、视频、介绍等功能。" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/base.css" rel="stylesheet">
<link href="css/m.css" rel="stylesheet">
<script src="js/jquery-3.6.0.min.js" ></script>
<script src="js/comm.js"></script>
</head>
<body>
<header>
  <div class="box">
    <div class="logo"><a href="/"><img src="images/logo.png" alt="logo"></a></div>
    <div class="ad_top"><a href="/"><img src="images/ad01.jpg" alt="广告"></a></div>
    <div class="contact_icon">
      <ul>
        <li><a href="http://wpa.qq.com/msgrd?v=3&uin=476847113&site=qq&menu=yes"><i class="icon_qq"></i></a></li>
        <li><a href="tel:186491309**"><i class="icon_tel"></i></a></li>
        <li><a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=476847113@qq.com" target="_blank"><i class="icon_email"></i></a></li>
        <li><i class="icon_weixin"><img src="images/wx.png" alt="微信号：476847113"></i></li>
      </ul>
    </div>
    <div class="clear"></div>
    <nav>
      <ul id="starlist">
        <li><a href="index.html">网站首页</a></li>
        <li><a href="blog.html">博文日记</a></li>
        <li class="menu"><a href="#">所有内容</a>
          <ul class="sub">
            <li><a href="blog_info.html">文章内容</a></li>
            <li><a href="photos_info.html">相册内容</a></li>
            <li><a href="videos_info.html">视频内容</a></li>
            <li><a href="page_info.html">单页内容</a></li>
          </ul>
          <span></span></li>
        <li><a href="photos.html">我的相册<i></i></a></li>
        <li><a href="videos.html">我的视频</a></li>
        <li><a href="about.html">个人简历</a></li>
      </ul>
      <h2 id="mnavh"><span class="navicon"></span></h2>
      <div class="is-search"> <i></i> </div>
      <div class="search-page">
        <div class="search_box">
          <div class="go-left"></div>
          <div class="search">
            <form action="http://zhuanti.ip3q.com/e/search/index.php" method="post" name="searchform" id="searchform">
              <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
              <input name="show" value="title" type="hidden">
              <input name="tempid" value="1" type="hidden">
              <input name="tbname" value="news" type="hidden">
              <input name="Submit" class="input_submit" value="搜索" type="submit">
            </form>
          </div>
        </div>
      </div>
      <!--search end--> 
    </nav>
  </div>
</header>
<div class="ph_margin"></div>
<div class="box">
  <div class="resume">
    <div class="resume_left">
      <section> <i><img src="images/resume.png" alt="头像"></i>
        <h2>李晓红</h2>
        <p>产品经理</p>
        <span>抗压能力强</span><span>组织领导力</span><span>有执行力</span><span>耐心细心</span> </section>
      <ul class="resume_con">
        <li class="re_xl">大学本科</li>
        <li class="re_rq">1994年8月16日</li>
        <li class="re_tell">19666668888</li>
        <li class="re_email">dancesmiling@qq.com</li>
        <li class="re_add">天津市滨海新区</li>
      </ul>
      <h3>技能特长</h3>
      <ul class="resume_tec">
        <li class="tec80">python<span></span></li>
        <li class="tec70">视频剪辑<span></span></li>
        <li class="tec60">图片处理<span></span></li>
      </ul>
    </div>
    <div class="resume_right">
      <h2>教育背景</h2>
      <p><span style="color:#808080;">武汉理工大学 / 2013.9&mdash;2017.6</span></p>
      <p>软件工程、算法设计与分析、软件管理、概率论与数理统计、线性代数、物理实验、编译原理</p>
      <p>精通C/C++、Java、PHP，强烈的上进心和求知欲，较强的学习能力和沟通能力，具备良好的团队合作精神，熟练把握lamp，有大访问量web应用访问或数据库建设经验</p>
      <h2>工作经历</h2>
      <p><strong>会计师</strong></p>
      <p><span style="color:#808080;">天津虹信有限公司 开发工程师助理 / 2016.7&mdash;2017.6</span></p>
      <ul>
        <li>参与系统的需求调研和需求分析，撰写相关技术文档;</li>
        <li>参与软件开发，确保负责模块的质量，代码和文档符合规范要求;</li>
        <li>根据项目经理的安排，按时完成指定软件模块的设计、开发、测试等过程。</li>
      </ul>
      <p><strong>java工程师</strong></p>
      <p><span style="color:#808080;">上海幻电信息科技有限公司 工程师 / 2017.4&mdash;2019.6</span></p>
      <p>运用Java这种开发语言去完成软件产品的软件程序设计、开发、测试、维护升级</p>
      <h2>自我评价</h2>
      <p>在本科期间我不仅能够保持成绩在年级前5%，GPA3.5以上，还积极参与学校组织的各项活动和社团活动，我负责运营的AKB英语社最高可达2万的阅读量，我是一个极具领导才能和责任心的人，能够迅速和同学们打成一片。</p>
    </div>
  </div>
</div>
<footer>
  <div class="box">
    <ul class="footer_nav">
      <li><a href="/" target="_blank">网站地图</a></li>
      <li><a href="all_list.html" target="_blank">所有文章</a></li>
      <li><a href="tags.html" target="_blank">标签合集</a></li>
      <li><a href="/" target="_blank">访问统计</a></li>
    </ul>
    <div class="guanzhu_img"><i><img src="images/wx.png" alt="微信:4768447113">微信号</i> <i><img src="images/wxgzh.jpg" alt="微信:4768447113">微信公众号</i></div>
    <div class="copyright">
      <p>杨青青个人博客网站 版权所有 </p>
      <p>Copyright © <a href="https://www.qingqingblog.com/" target="_blank">www.qingqingblog.com</a> All Rights Reserved.</p>
      <p>备案号：<a href="http://www.beian.miit.gov.cn/" target="_blank">津ICP备20005778号-1</a><i class="ga"><img src="images/ga.png" alt="公安备案号"></i>津公网安备 12011602000448 号</p>
    </div>
  </div>
</footer>
<a href="#" title="返回顶部" class="icon-top"></a>
</body>
</html>

