<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>《初见》响应式个人博客模板</title>
<meta name="keywords" content="个人博客，个人网站，个人博客模板，个人网站模板" />
<meta name="description" content="《初见》响应式个人博客模板是由前端设计师杨青青（www.qingqingblog.com）于2021年5月份设计完成的，模板主要展示个人博客、相册、视频、介绍等功能。" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/base.css" rel="stylesheet">
<link href="css/m.css" rel="stylesheet">
<script src="js/jquery-3.6.0.min.js" ></script>
<script src="js/comm.js"></script>
</head>
<body>
<header>
  <div class="box">
    <div class="logo"><a href="/"><img src="images/logo.png" alt="logo"></a></div>
    <div class="ad_top"><a href="/"><img src="images/ad01.jpg" alt="广告"></a></div>
    <div class="contact_icon">
      <ul>
        <li><a href="http://wpa.qq.com/msgrd?v=3&uin=476847113&site=qq&menu=yes"><i class="icon_qq"></i></a></li>
        <li><a href="tel:186491309**"><i class="icon_tel"></i></a></li>
        <li><a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=476847113@qq.com" target="_blank"><i class="icon_email"></i></a></li>
        <li><i class="icon_weixin"><img src="images/wx.png" alt="微信号：476847113"></i></li>
      </ul>
    </div>
    <div class="clear"></div>
    <nav>
      <ul id="starlist">
        <li><a href="index.html">网站首页</a></li>
        <li><a href="blog.html">博文日记</a></li>
        <li class="menu"><a href="#">所有内容</a>
          <ul class="sub">
            <li><a href="blog_info.html">文章内容</a></li>
            <li><a href="photos_info.html">相册内容</a></li>
            <li><a href="videos_info.html">视频内容</a></li>
            <li><a href="page_info.html">单页内容</a></li>
          </ul>
          <span></span></li>
        <li><a href="photos.html">我的相册<i></i></a></li>
        <li><a href="videos.html">我的视频</a></li>
        <li><a href="about.html">个人简历</a></li>
      </ul><h2 id="mnavh"><span class="navicon"></span></h2>
      <div class="is-search"> <i></i> </div>
      <div class="search-page">
        <div class="search_box">
          <div class="go-left"></div>
          <div class="search">
            <form action="http://zhuanti.ip3q.com/e/search/index.php" method="post" name="searchform" id="searchform">
              <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
              <input name="show" value="title" type="hidden">
              <input name="tempid" value="1" type="hidden">
              <input name="tbname" value="news" type="hidden">
              <input name="Submit" class="input_submit" value="搜索" type="submit">
            </form>
          </div>
        </div>
      </div>
      <!--search end--> 
    </nav>
  </div>
</header>
<div class="ph_margin"></div>
<div class="box">
  <div class="blogs_info_page">
    <div class="weizhi">您当前的位置：<a href="">首页</a>&nbsp;&gt;&nbsp;<a href="/">博文日记</a></div>
    <article>
      <h1>江湖上的默克尔</h1>
      <div class="wz_info"> <span>作者：<a href="/" target="_blank">凡心</a> </span><span>时间：2021-04-26</span> <span>阅读数：701人阅读</span></div>
      <div class="content">
        <p>在德国许多政坛会议上，总理默克尔作了告别谢辞，宣布今后不再涉足政坛。之后人们起立鼓掌，最长的近十分钟。这时，默克尔眼噙热泪。</p>
        <p><img align="" alt="" border="0" src="images/info.jpg" width="600"></p>
        <p>我们见到默克尔在维护欧盟的统一及利益上表现得非常坚定，在中国问题上较为友好和务实，对美国的霸道也有适度抗拒。几年前，西方七国首脑会议上她手撑桌面逼视特朗普的画面，世人印象犹深。同时，我们见过她为难民儿童陈尸海滩流泪，也见过她为德国国家足球队进球雀躍忘形，还有到商店买鱼的视频，那时的她就是一个彻头彻尾的大妈……这一切令许多人喜欢上她。她不是高高在上的政治家，她同时也是一名有着常人感情和习惯的女性。</p>
        <p>被称为“铁娘子”的默克尔将会回归家庭，为她的教授丈夫买菜做饭。其实即使在她政务最忙时，她也争取坚持每天为丈夫做早饭。他们住在公寓里，像普通德国人一样，洗衣打扫，下厨做饭。</p>
        <h2>他的画亦如是，皆自丰富的内藏中来</h2>
        <p>她至今坚持的“默克尔”，是前任丈夫的姓，有人说她是在用这种方式纪念初恋。她现在的丈夫是量子化学领域的权威，个性同样鲜明，不但容她冠前夫姓，还严重抗拒把他和妻子扯在一起。他从不接受记者采访，不许陌生人出现在课堂上。有哪个学生向他提到默克尔，小心，这个学生很可能会被挂科。</p>
        <p>就是这样特别的两个人，恩爱地相处了多年。</p>
        <p>作为政治家，默克尔也受到许多抨击。最尖锐的是批评她的移民政策“毁了欧洲”。但这些都要交与历史评说了。2021年9月，默克尔将退出政坛，没有了默克尔的江湖还将长久地流传她的故事。</p>
        <p>不知道为什么，作者在描写这段微妙的人际关系时，把周围环境也一起写进去了。而使我读来怦然心动的也正是那段“于时清露晨流，新桐初引”的附带描述。也许不是什么惊心动魄的大景观，只是一个序幕初启的清晨，只是清晨初初映著阳光闪烁的露水，只是露水装点下的桐树初初抽了芽，遂使得人也变得纯洁灵明起来，甚至强烈地怀想起那个有过嫌隙的朋友。</p>
        <p>李清照大约也是被这光景迷住了，所以她的《念奴娇》里竟把“清露晨流，新桐初引”的句子全搬过去了。一颗露珠，从六朝闪到北宋，一叶新桐，在安静的扉页里晶薄透亮。 </p>
        <p>(海 蓉摘自《大公报》2021年3月3日)</p>
      </div>
      <div class="diggit"> <a href="JavaScript:makeRequest('/','EchoReturnedText','GET','');"> 很赞哦！ (<b id="diggnum">3</b>)</a> </div>
      <div class="share"><span>分享到：</span>
        <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1620626498424"> <a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq"></a> <a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a> <a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a> <a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a> <a href="#" class="bds_more" data-cmd="more"></a> </div>
      </div>
      <div class="wz_zhuanzai">
        <p>本站所有文章、数据、图片均来自互联网,一切版权均归源网站或源作者所有。</p>
        <p>如果侵犯了你的权益请来信告知我们删除。邮箱：<a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=dacesmiling@qq.com" target="_blank">dacesmiling@qq.com</a></p>
      </div>
      <div class="tags">标签：<a href="/" target="_blank">默克尔</a><a href="/" target="_blank">政治家</a></div>
      <div class="info-pre-next">
        <p>上一篇:<a href="/">远行之人， 必有故事</a> </p>
        <p>下一篇:<a href="/">我们由彩色的记忆碎片组成</a> </p>
      </div>
    </article>
    <div class="designer">
      <section><i><img src="images/tx.png"></i>
        <h3>杨青青</h3>
        <p>当你还撑不起你的梦想时，就要去奋斗。如果缘分安排我们相遇，请不要让她擦肩而过。我们一起奋斗！</p>
      </section>
      <span><img src="images/wx.png"></span></div>
    <div class="ad"><a href="https://www.aliyun.com/minisite/goods?userCode=l1qstn8f" target="_blank"><img src="images/ad3.jpg" alt=""></a></div>
    <div class="wz_love">
      <h2 class="h_title">猜你喜欢</h2>
      <ul>
        <li><a href="/" target="_blank"> <i><img src="images/01.jpg" alt=""></i>
          <h2>个人博客，属于我的小世界！</h2>
          <span>2021-05-10</span> </a></li>
        <li><a href="/" target="_blank"> <i><img src="images/02.jpg" alt=""></i>
          <h2>我仅仅是一个“草根站长”</h2>
          <span>2021-05-10</span> </a></li>
        <li><a href="/" target="_blank"> <i><img src="images/03.jpg" alt=""></i>
          <h2>世界上根本没有感同身受这回事</h2>
          <span>2021-05-10</span> </a></li>
        <li><a href="/" target="_blank"> <i><img src="images/04.jpg" alt=""></i>
          <h2>兴趣支撑梦想，兴趣是支撑我自己前行的动力</h2>
          <span>2021-05-10</span> </a></li>
        <li><a href="/" target="_blank"> <i><img src="images/05.jpg" alt=""></i>
          <h2>忙碌是自由活着的一种底气</h2>
          <span>2021-05-10</span> </a></li>
        <li><a href="/" target="_blank"> <i><img src="images/06.jpg" alt=""></i>
          <h2>从互联网消失的那3年，都去哪儿了？</h2>
          <span>2021-05-10</span> </a></li>
      </ul>
    </div>
  </div>
  <aside class="rbox">
    <div class="isgood_news">
      <h2 class="h_title">站长推荐</h2>
      <ul>
        <li><a href="/" title="" target="_blank"> <i><img src="images/news02.jpg" alt=""></i><em>1</em>
          <p>一个32岁程序员的倔强——十年程序人生</p>
          <span class="star5"></span> </a></li>
        <li><a href="/" title="" target="_blank"> <i><img src="images/news03.jpg" alt=""></i><em>2</em>
          <p>我是个女程序员，反正我就是来活跃气氛的</p>
          <span class="star4"></span> </a></li>
        <li><a href="/" title="" target="_blank"> <i><img src="images/news04.jpg" alt=""></i><em>3</em>
          <p>安静地做一个爱设计的女子</p>
          <span class="star4"></span> </a></li>
        <li><a href="/" title="" target="_blank"> <i><img src="images/news05.jpg" alt=""></i><em>4</em>
          <p>个人博客，属于我的小世界！</p>
          <span class="star3"></span> </a></li>
        <li><a href="/" title="" target="_blank"> <i><img src="images/news02.jpg" alt=""></i><em>5</em>
          <p>一个32岁程序员的倔强——十年程序人生</p>
          <span class="star2"></span> </a></li>
        <li><a href="/" title="" target="_blank"> <i><img src="images/news05.jpg" alt=""></i><em>6</em>
          <p>个人博客，属于我的小世界！</p>
          <span class="star2"></span> </a></li>
      </ul>
    </div>
    <div class="ad_r"><a href="/"><img src="images/ads.png" alt="广告图"></a></div>
    <div class="hot_news">
      <h2 class="h_title">人气点击</h2>
      <ol start="1">
        <li><a href="/" title="" target="_blank">
          <p>个人博客，属于我的小世界！</p>
          </a><span>900</span></li>
        <li><a href="/" title="" target="_blank">
          <p>我仅仅是一个“草根站长”</p>
          </a><span>798</span></li>
        <li><a href="/" title="" target="_blank">
          <p>世界上根本没有感同身受这回事</p>
          </a><span>765</span></li>
        <li><a href="/" title="" target="_blank">
          <p>兴趣支撑梦想，兴趣是支撑我自己前行的动力</p>
          </a><span>659</span></li>
        <li><a href="/" title="" target="_blank">
          <p>忙碌是自由活着的一种底气</p>
          </a><span>640</span></li>
        <li><a href="/" title="" target="_blank">
          <p>从互联网消失的那3年，都去哪儿了？</p>
          </a><span>503</span></li>
        <li><a href="/" title="" target="_blank">
          <p>7年，一个80后女站长与阿里云携手创业的真实故事</p>
          </a><span>500</span></li>
        <li><a href="/" title="" target="_blank">
          <p>【告别2018】耕耘才有所得，付出才有收获</p>
          </a><span>469</span></li>
        <li><a href="/" title="" target="_blank">
          <p>网易博客关闭，何不从此开始潇洒行走江湖！</p>
          </a><span>398</span></li>
        <li><a href="/" title="" target="_blank">
          <p>从互联网消失的那3年，都去哪儿了？</p>
          </a><span>503</span></li>
      </ol>
    </div>
    <div class="ad_r"><a href="/"><img src="images/ads2.png" alt="广告图"></a></div>
    <div class="tagsclous">
      <h2 class="h_title">标签云</h2>
      <ul>
        <a href="/" target="_blank">女程序员</a> <a href="/" target="_blank">互联网</a> <a href="/" target="_blank">自由</a> <a href="/" target="_blank">底气</a> <a href="/" target="_blank">忙碌生活</a> <a href="/" target="_blank">建站流程</a> <a href="/" target="_blank">个人网站</a> <a href="/" target="_blank">建站初衷</a> <a href="/" target="_blank">个人博客</a> <a href="/" target="_blank">草根站长</a> <a href="/" target="_blank">618活动</a> <a href="/" target="_blank">心得</a> <a href="/" target="_blank">感受</a> <a href="/" target="_blank">直播</a> <a href="/" target="_blank">阿里云</a>
      </ul>
    </div>
    <div class="emial_box">
      <p>您可以通过以下方式联系我们</p>
      <p>（<b>提议</b>、<b>投诉</b>、<b>合作</b>推荐此方式）</p>
      <p>发送邮件Email到</p>
      <p><a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=476847113@qq.com" target="_blank">dancesmiling@qq.com</a></p>
    </div>
  </aside>
  <div class="clear"></div>
</div>
<footer>
  <div class="box">
    <ul class="footer_nav">
      <li><a href="/" target="_blank">网站地图</a></li>
      <li><a href="all_list.html" target="_blank">所有文章</a></li>
      <li><a href="tags.html" target="_blank">标签合集</a></li>
      <li><a href="/" target="_blank">访问统计</a></li>
    </ul>
    <div class="guanzhu_img"><i><img src="images/wx.png" alt="微信:4768447113">微信号</i> <i><img src="images/wxgzh.jpg" alt="微信:4768447113">微信公众号</i></div>
    <div class="copyright">
      <p>杨青青个人博客网站 版权所有 </p>
      <p>Copyright © <a href="https://www.qingqingblog.com/" target="_blank">www.qingqingblog.com</a> All Rights Reserved.</p>
      <p>备案号：<a href="http://www.beian.miit.gov.cn/" target="_blank">津ICP备20005778号-1</a><i class="ga"><img src="images/ga.png" alt="公安备案号"></i>津公网安备 12011602000448 号</p>
    </div>
  </div>
</footer>
<a href="#" title="返回顶部" class="icon-top"></a>
</body>
</html>

