<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>lpf-个人社区首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/base.css" rel="stylesheet">
    <link href="./css/m.css" rel="stylesheet">
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/comm.js"></script>

</head>
<body>
<footer>
    <div class="box">
        <ul class="footer_nav">
            <li><a href="/" target="_blank">网站地图</a></li>
            <li><a href="all_list.html" target="_blank">所有文章</a></li>
            <li><a href="tags.html" target="_blank">标签合集</a></li>
            <li><a href="/" target="_blank">访问统计</a></li>
        </ul>
    </div>
    <div class="copyright">
        <p>lpf个人博客网站 版权所有 </p>
        <p>Copyright © <a href="https://www.qingqingblog.com/" target="_blank">www.qingqingblog.com</a> All Rights
            Reserved.</p>
        <p>备案号：<a href="http://www.beian.miit.gov.cn/" target="_blank">鲁ICP备2021038524号</a><i class="ga"><img
                src="images/ga.png" alt="公安备案号"></i>鲁ICP备2021038524号</p>
    </div>
    </div>
</footer>
</body>
</html>