<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>[[${articleAndUserAndRang.articleEntity.title}]]</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/commentList.css">
    <link rel="stylesheet" type="text/css" href="./css/xcConfirm.css"/>
    <link rel="stylesheet" type="text/css" href="./css/xcConfirm.css"/>
    <link rel="stylesheet" href="css/profile.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"></script>
    <script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <script src="./js/xcConfirm.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
        .child{
            margin-left: 100px;
        }
    </style>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div id="top"></div>
<!--<div class="btn btn-login" style="margin-top: 50px; float: right" onclick="comment_page(3)">获取评论</div>-->
<div class="tubiao_index">
    <a href="#top"><img src="./img/jump_top.jpg" class="daxiao"></a>
    <a href="#pinglun"><img src="./img/jump_comment.jpg" class="daxiao" style="margin-top: 10px"></a>
</div>
<div class="justify-content-center d-flex main_father" style="height: 100%; background-color: #EDEDEF;">
    <div class="container">
        <aside class="blog_container_aside" style="margin-right: 20px;">
            <div id="" class="aside-box" style="padding-bottom: 10px;">
                <div class="profile-intro d-flex">
                    <div class="d-flex justify-content-center avatar-box">
                        <a href="">
                            <img th:src="${articleAndUserAndRang.getUserEntity().getTouXiangUrl()}"
                                 class="avatar_pic">
                        </a>
                    </div>
                    <div class="user-info d-flex flex-column profile-intro-name-box">
                        <div class="profile-intro-name-boxTop">
                            <a th:href="@{/homePageById/{userId}(userId = ${articleAndUserAndRang.userEntity.id})}"
                               class="" id="" title=""><span class="name">[[${articleAndUserAndRang.userEntity.userName}]]</span></a>
                        </div>
                        <div class="profile-intro-name-boxFooter">
                            <span class="personal-home-page personal-home-years"></span>
                        </div>
                    </div>
                </div>
                <div class="data-info d-flex item-tiling">
                    <dl class="text-center">
                        <span class="count">[[${articleAndUserAndRang.userEntity.postCount}]]</span>
                        <dd>原创</dd>
                    </dl>
                    <dl class="text-center">
                        <span class="count">[[${articleAndUserAndRang.userEntity.heatNumber}]]</span>
                        <dd>访问</dd>
                    </dl>
                    <dl class="text-center">
                        <span class="count">[[${articleAndUserAndRang.userEntity.likeCount}]]</span>
                        <dd>获赞</dd>
                    </dl>
                    <dl class="text-center">
                        <span class="count">18万+</span>
                        <dd>访问</dd>
                    </dl>
                    <dl class="text-center">
                        <span class="count">18万+</span>
                        <dd>访问</dd>
                    </dl>
                </div>
                <div class="item-rank"></div>
                <div class="data-info d-flex item-tiling">
                    <dl class="text-center">
                        <span class="count">18万+</span>
                        <dd>访问</dd>
                    </dl>
                    <dl class="text-center">
                        <span class="count">18万+</span>
                        <dd>访问</dd>
                    </dl>
                    <dl class="text-center">
                        <span class="count">18万+</span>
                        <dd>访问</dd>
                    </dl>
                    <dl class="text-center">
                        <span class="count">18万+</span>
                        <dd>访问</dd>
                    </dl>
                    <dl class="text-center">
                        <span class="count">18万+</span>
                        <dd>访问</dd>
                    </dl>
                </div>
                <div class="profile-intro-name-boxOpration">
                    <div class="opt-letter-watch-box">
                        <a href="" class="bt-button personal-watch">私信</a>
                    </div>
                    <div class="opt-letter-watch-box">
                        <a href="" class="personal-watch bt-button">关注</a>
                    </div>
                </div>
            </div>
            <div class="aside-box">
                <div class="aside-content search-comter">
                    <div class="aside-search aside-search-blog">
                        <input type="text" class="input-serch-blog" id="" value="" placeholder="搜索作者文章"/>
                        <a href="" class="btn-search-blog" style="margin-left: 2px;">
                            <img src="./img/csdn-sou.png" style="width: 32px; height: 32px;">
                        </a>
                    </div>
                </div>
            </div>
        </aside>
        <main>
            <div class="blog-content-box">
                <div class="article-header-box">
                    <div class="article-header">
                        <div class="article-title-box">
                            <h1 class="title-article">[[${articleAndUserAndRang.articleEntity.title}]]</h1>
                        </div>
                        <div class="article-info-box">
                            <div class="article-bar-top">
                                <img src="img/original.png" class="article-type-img">
                                <div class="bar-content">
                                    <span class="c-gray" style="color: #858585;">置顶</span>
                                    <a href=""
                                       class="follow-nickName ">[[${articleAndUserAndRang.userEntity.userName}]]</a>
                                    <span class="" style="position: relative;"
                                          th:text="${#dates.format((articleAndUserAndRang.articleRankingEntity.releaseTime),'yyyy-MM-dd')}">2021-09-30 11:48:42</span>
                                    <img src="img/articleReadEyes.png"
                                         class="article-read-img article-heard-img">
                                    <span class="read-count">[[${articleAndUserAndRang.articleRankingEntity.visits}]]</span>
                                    <a id="blog_detail_zk_collection" class="un-collection"
                                       style="color: #999AAA; display: inline-block;">
                                        <img class="article-collect-img article-heard-img un-collect-status isdefault"
                                             style="display:inline-block; padding-bottom: 6px;"
                                             src="img/tobarCollect.png" alt="">
                                        <img class="article-collect-img article-heard-img collect-status isactive"
                                             style="display:none" src="img/tobarCollectionActive.png" alt="">
                                        <span class="" style="font-size: 16px;">点赞</span>
                                        <span class="get-collection">[[${articleAndUserAndRang.articleRankingEntity.praiseQuantity}]]</span>
                                    </a>
                                </div>

                            </div>
                            <div class="blog-tags-box">
                                <div class="tags-box artic-tag-box">
                                    <span class="label">文章标签：</span>
                                    <span th:each="label : ${labelList}">
                                        <a class="tag-link" href="" target="_blank" rel="noopener"
                                           th:text="${label}"></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="" style="margin-top: 10px">
                            <input type="hidden" id="makedownText"
                                   th:value="${articleAndUserAndRang.articleEntity.content}">
                            <div id="test-editormd"></div>
                        </div>
                        <div class="more-toolbox-new">
                            <div class="left-toolbox"
                                 style="position: relative; z-index: 10; left: 0px; bottom: 0px; width: 1010px;">
                                <div class="toolbox-left">
                                    <div class="profile-box">
                                        <a class="profile-href" href="">
                                            <img class="profile-img"
                                                 th:src="${articleAndUserAndRang.getUserEntity().getTouXiangUrl()}">
                                            <span class="profile-name">[[${articleAndUserAndRang.userEntity.userName}]]</span>
                                        </a>
                                    </div>
                                    <div class="profile-attend" style="position: relative;">
                                        <a class="tool-attend tool-bt-button tool-bt-attend" href="">关注</a>
                                    </div>
                                </div>

                                <div class="toolbox-middle">
                                    <ul class="toolbox-list">
                                        <li class="tool-item tool-item-size tool-active is-like">
                                            <a href="" class="tool-item-href">
                                                <img class="isdefault" style="display: block;" id="is-like-img"
                                                     src="img/newHeart1White.png" alt="">
                                                <span id="spanCount1" class="count" style="color: rgb(153, 154, 170);">[[${articleAndUserAndRang.articleRankingEntity.praiseQuantity}]]</span>
                                            </a>
                                        </li>
                                        <li class="tool-item tool-item-size tool-active is-like">
                                            <a href="" class="tool-item-href">
                                                <img class="isdefault" style="display: block;" id="is-like-img"
                                                     src="img/newCommentWhite.png" alt="">
                                                <span id="spanCount2" class="count" style="color: rgb(153, 154, 170);">[[${articleAndUserAndRang.articleRankingEntity.comment}]]</span>
                                            </a>
                                        </li>
                                        <li class="tool-item tool-item-size tool-active is-like">
                                            <a href="" class="tool-item-href">
                                                <img class="isdefault" style="display: block;" id="is-like-img"
                                                     src="img/tobarCollect.png" alt="">
                                                <span id="spanCount3" class="count" style="color: rgb(153, 154, 170);">[[${articleAndUserAndRang.articleRankingEntity.comment}]]</span>
                                            </a>
                                        </li>
                                        <li class="tool-item tool-active">
                                            <a class="" href="">
                                                <img class="company active" id="health-companies"
                                                     src="img/newHealthCompanies1Active.gif" alt="一键三连"
                                                     style="width: 40px; height: 28px;">
                                            </a>
                                            <div class="tool-hover-tip three-click"><span class="text">一键三连</span></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footerr>
            <div id="pinglun" style="height: 300px" onclick="content_clear()"></div>
            <div class="btn btn-login" style="margin-top: 50px; float: right" onclick="comment()">发表评论</div>
        </footerr>
        <div class="fffff">
            <ul class="ul" id="comment_page_one">
            </ul>
            <div class="">
                <ul id="pages" style="margin-top: 20px;margin-bottom: 30px;line-height: 33px;"></ul>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    var text = document.getElementById("makedownText");
    //创建实例
    var converter = new showdown.Converter();
    //进行转换
    var html = converter.makeHtml(text.value);
    //展示到对应的地方  result便是id名称
    document.getElementById("test-editormd").innerHTML = html;
</script>
<script type="text/javascript">
    const E = window.wangEditor
    const editor = new E("#pinglun")
    editor.create();
</script>

<script type="text/javascript">
    var commentId = 0; //要评论的id，默认为0（评论文章）
    var articleId = [[${articleAndUserAndRang.articleEntity.id}]];
    function content_clear(){
        //将评论的默认内容清空
        var din = document.getElementsByClassName("w-e-text")[0].children[0].innerText;
        if (!din.search('@')){
            din = "";
        }
    }

    function reply(comment_id, comment_name) {
        commentId = comment_id; //评论回复，将评论id变为该回复
        document.getElementsByClassName("w-e-text")[0].children[0].innerText = '@回复 ' + comment_name + ':  ';
        $(window).scrollTop($('#pinglun').offset().top);  //跳转到锚定位置
    }

    //评论发布函数
    function comment() {
        var comment = document.getElementsByClassName("w-e-text")[0].children[0].innerText;
        if (comment == '' || comment=='\n'){
            window.wxc.xcConfirm("评论不能为空", window.wxc.xcConfirm.typeEnum.error);
            return;
        }
        $.post("/addComment",
            {
                'articleId': articleId,
                'commentId': commentId,
                'comment': comment,
            },
            function (data) {
                window.wxc.xcConfirm(data, window.wxc.xcConfirm.typeEnum.success);
            }
        );
        document.getElementsByClassName("w-e-text")[0].children[0].innerText = '请输入正文';
        commentId = 0;
    }
</script >
<script type="text/javascript">
    function comment_show(comment_id){
        var comment_child_id = '#child' + comment_id;
        var classs = $(comment_child_id);
        var e = document.getElementById('child' + comment_id);
        //获取评论的状态
        var coll = e.getAttribute("data" + comment_id);
        if (coll){ //状态是展开,关闭
            classs.removeClass('in');
            e.removeAttribute("data" + comment_id);
        }else {  //状态是关闭,展开
            classs.addClass('in');
            e.setAttribute("data" + comment_id, "in");
            if (!e.getAttribute("have" + comment_id)){
                getComment(comment_id);
                e.setAttribute("have" + comment_id, comment_id);
            }
        }
    }
    //获取评论的下一级评论
    function getComment(comment_id) {
        $.post("/getComment",
            {
                'articleId': articleId,
                'commentId': comment_id,
            },
            function (data) {
                get_comment(data);
            }
        );
    }
    //解析二级评论所需要的信息
    function get_comment(data){
        var jsonData = JSON.parse(data);
        let x = 0;
        let y = 0;
        let z = 0;
        for (x in jsonData) {
            var commen_id = "";
            var username = "";
            var comment_content = "";
            var comment_time = "";
            var reviewedByMan = "";
            for (y in jsonData[x]) {
                for (z in jsonData[x][y]){
                    var values = jsonData[x][y][z];
                    if (z == 'commentId') commen_id = values;
                    if (z == 'commentContent') comment_content = values;
                    if (z == 'userName') username = values;
                    if (z == 'commentTime') comment_time = values;
                    if (z == 'reviewedByMan') reviewedByMan = values;
                }
            }
            show_comment(commen_id, username, comment_content, comment_time, reviewedByMan);
        }
    }
    //二级标签展示
    function show_comment(commen_id, username, comment_content, comment_time, reviewedByMan) {
        $('#two' + reviewedByMan).append(
            '<li>' +
                '<div class="btn_li" onclick="reply('+ commen_id +'\,\'' + username+'\')">' +
                    '<div class="content" style="width: 90%">' +
                        '<span class="userName">' + username + ':' + '</span>' +
                        '<span class="msgInfo">' + comment_content + '</span>' +
                        '<span class="times" style="float: right;">' + time(comment_time) +'</span>' +
                    '</div>' +
                '</div>' +
            '</li>');
    }
    //时间格式转化
    function time(data) {
        var date = new Date(data)
        var Y = date.getFullYear() + '-'
        var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-'
        var D = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + ' '
        var h = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':'
        var m = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':'
        var s = (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds())
        return Y + M + D + h + m + s;
    }
</script>
<script>
    //删除旧评论
    function remove_comment_page(){
        $('#comment_page_one').children().remove()
    }
    function remove_page(){
        $('#pages').children().remove()
    }
    //首次先加载第一页评论
    comment_page(1);
    var pageMax = [[${commentCount}]];
    showPage(1, pageMax);
    //评论分页获取每一页的评论（5条）
    function comment_page(page){
        $.get("/commentPage",
            {
                'articleId': articleId,
                'page': page,
            },
            function (data) {
                get_comments(data);
                remove_page();
                showPage(page, pageMax);
            }
        );
    }
    //获取每一页评论的信息并展示
    function get_comments(data){
        remove_comment_page()
        var jsonData = JSON.parse(data);
        let xs = 0;
        let ys = 0;
        let zs = 0;
        for (xs in jsonData) {
            var commen_ids = "";
            var usernames = "";
            var comment_contents = "";
            var comment_times = "";
            var reviewedByMans = "";
            var user_tou_xiang = "";
            var iddd = true;
            for (ys in jsonData[xs]) {
                for (zs in jsonData[xs][ys]){
                    var values = jsonData[xs][ys][zs];
                    if (zs == 'id') {
                        if (iddd) commen_ids = values;
                        iddd = (iddd == true ? false : true);
                    }

                    if (zs == 'commentContent') comment_contents = values;
                    if (zs == 'userName') usernames = values;
                    if (zs == 'commentTime') comment_times = values;
                    if (zs == 'reviewedByMan') reviewedByMans = values;
                    if (zs == 'touXiangUrl') user_tou_xiang = values;
                }
            }
            show_comments(commen_ids, usernames, comment_contents, comment_times, reviewedByMans, user_tou_xiang);
        }
    }
    function show_comments(commen_ids, usernames, comment_contents, comment_times, reviewedByMans, user_tou_xiang){
        $('#comment_page_one').append(
            '<li>' +
                '<div class="btn_li" onclick="reply(' + commen_ids + ',\''+ usernames + '\')">' +
                    '<div class="userPic"><img src="'+ user_tou_xiang + '" style="height: 44px; border-radius: 50%; margin: 2px"/></div>' +
                    '<div class="content">' +
                        '<div class="userName">' + usernames + '</div>' +
                        '<div class="msgInfo">' + comment_contents + '</div>' +
                        '<div class="times">' +
                            '<span>' + time(comment_times) +'</span>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
                ' <div class="glyphicon glyphicon-comment" style="float: right; margin: 20px;" onclick="comment_show('+ commen_ids +')"> </div>' +
                '<div class="collapse child" id="child'+ commen_ids +'">' +
                    '<ul id="two'+ commen_ids +'">' +
                    '</ul>' +
                '</div>' +
            '</li>');

    }

    //标签展示
    function showPage(pageCurrent, pageMax){
        let pageL = pageCurrent - 1;
        let pageR = pageCurrent + 1;
        if (pageL<1) pageL = 1;
        if (pageR>pageMax) pageR = pageMax;
        $('#pages').append(
            '<li class="btns" onclick="comment_page(' + pageL + ')">&lt;</li>'
        );
        for (let i = 1; i <= pageMax; i++) {
            $('#pages').append(
                '<li class="btns" id="page' + i + '" onclick="comment_page(' + i + ')">' + i + '</li>'
            );
        }
        $('#pages').append(
            '<li class="btns" onclick="comment_page(' + pageR + ')">&gt;</li>'
        );
        $('#page' + pageCurrent).addClass("redd");
    }
</script>
</body>
</html>
